<div id="home_container">
  <h2>Welcome To Movie Pong!</h2>
  <h3>Explanation:</h3>
  <p>The computer will generate some movies for you to begin with. Press the "new start movie" button until you find one you feeel confident about, enter an actor in that movie, and press "enter." The objective is to know more actors and movies than the computer (hey! It could happen!) and when you guess incorrectly, you get a letter. If you spell "PONG," you lose! </p>
  <h3>Rules:</h3>
  <ul>
    <li>1. No movie or actor can be repreated within a single game</li>
    <li>2. Spelling errors will not be accepted (use google to spellcheck if you must, but no cheating!)</li>
    <li>3. No Cheating!</li>
  </ul>

  <form action="/play/start" method="get">
    <div><button class="other_but">START</button></div>
  </form>
</div>