<div id="home_container">
  <h2>Welcome To Movie Pong!</h2>
  <h3>Explanation:</h3>
  <p>There's a storm coming, Mr. Wayne. You and your friends better batten down the hatches, because when it hits, you're all going to wonder how you ever thought you could live so large and leave so little for the rest of us.</p>
  <h3>Rules:</h3>
  <p>Hero can be anyone. Even a man knowing something as simple and reassuring as putting a coat around a young boy shoulders to let him know the world hadn't ended.</p>

  <form action="/play/start" method="get">
    <div><button class="other_but">START</button></div>
  </form>
</div>